<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To Do Web</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('nav.ejs')%>
    <div class="container mt-5" style="float: flex;">
        <div class="container mt-5" style="display: flex;">
            <img height="80" src="/images/person.jpg" class="rounded float" alt="profile"/>
            <h4 style="font-family: IBM Plex Sans KR, sans-serif; align-content: center; "><strong>"<%=user.nickname%>" 님의 To Do List!</strong></h4>
        </div>
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/mypage"  style="color: black; font-family: IBM Plex Sans KR, sans-serif"
                >My To Do List</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/mypage/myDoneList" style="color: black; font-family: IBM Plex Sans KR, sans-serif"
                >My Done List</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mypage/account" style="color: black; font-family: IBM Plex Sans KR, sans-serif">account</a>
            </li>
          </ul>
         
    <div class="container mt-3">    
      <div class="container mt-3">
        <% for(let i=0;i<posts.length;i++){ %>
          <% if (posts[i].ID === user.userEmailID){ %>
            <% if (posts[i].isDone == false){ %>
          <!-- 한 개의 todo가 담겨있는 div(container) -->
          <div class="container m-3" style="border: 1px solid #000; border-radius: 10px; display: flex;" id="OneTodo">
            <div class="container m-3" onclick="location.href='/detail/<%= posts[i]._id %>'">
              <h5 style="font-family: IBM Plex Sans KR, sans-serif; margin-top: 3px;" ><strong><%= posts[i].title %></strong></h5>
            </div>
            <div class="container m-3" style="align-self: center;">
              <!-- Button with data-id attribute -->
                <div style="float: right;">
                  <button type="button" class="btn btn-outline-light" id="check" onclick="markAsDone('<%= posts[i]._id %>')">✔️</button>
                </div>
            </div>
            </div>
          </div>
          <% } %>
          <% } %>
        <% } %>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script>
      function checkLogin() {
        var _user = "${user}";
        if (user == "") {
          alert("로그인 후 사용할 수 있는 서비스 입니다.");
          location.href = "/login";
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function markAsDone(postId) {
        $.ajax({
          url: '/update-status/' + postId,
          type: 'PUT',
          success: function(response) {
            alert('Task marked as done!');
            location.reload(); // Reload the page to reflect changes
          },
          error: function(error) {
            alert('Failed to mark task as done!');
          }
        });
      }
    </script>
  </body>
</html>
